packages: 
  yum:
    flex: []
    gcc : []
    strace: []
    rpm-build: []
    make: []
    pkgconfig: []
    gettext: []
    automake: []
    gdb: []
    bison: []
    libtool: []
    autoconf: []
    gcc-c++: []
    git: []
    libpng-devel: []
    freetype-devel: []

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: crabotter/wsgi.py

