packages: 
  yum:
    flex: []
    gcc : []
    strace: []
    rpm-build: []
    make: []
    pkgconfig: []
    gettext: []
    automake: []
    gdb: []
    bison: []
    libtool: []
    autoconf: []
    gcc-c++: []
    git: []
    libpng-devel: []
    freetype-devel: []

commands:
  python_install: 
    command: scripts/configure-plotly.py
    cwd: /home/ec2-user
    test: "[ ! -x /usr/bin/python ]"

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: crabotter/wsgi.py

